if $(command -v nix-build >/dev/null 2>&1); then
  export NIX_PATH=nixpkgs="$(nix-build --expr 'with import <nixpkgs> {}; callPackage ./nix/nixpkgs.nix {}' --no-out-link)"
fi

# Local Variables:
# mode: shell-script
# End:
